.container {
  background-color: #F6F6F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  flex-wrap: nowrap;
}

.logoContainer {
  margin-left: 4%;
}

.searchBarContainer {
  margin-left: auto;
  margin-right: 4%;
}

.main {
  flex: 1;
  padding: 1.5%;
}

@media (max-width: 576px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .logoContainer {
    margin: 0 auto;
  }

  .logoImage {
    width: 80px !important;
    height: 80px !important;
  }

  .searchBarContainer {
    margin: 0rem auto 0;
  }
}