.container {
  background-color: #F6F6F6;
  min-height: 100vh;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 6rem;
  padding: 0 1rem;
  flex-wrap: nowrap;
}

.logoContainer {
  margin-left: 5rem;
}

.searchBarContainer {
  margin-left: auto;
  max-width: 400px;
  width: 100%;
}

.main {
  padding: 1rem;
}