.scrollableDiv {
  height: 100vh;
  overflow: auto;
  padding: 1rem;
}

.scrollableDiv::-webkit-scrollbar {
  display: none;
}

.scrollableDiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imageWrapper {
  width: 92%;
  margin: 0.2rem auto;
}