.scrollableDiv {
  height: 100vh;
  overflow: auto;
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
}

.scrollableDiv::-webkit-scrollbar {
  display: none;
}

.scrollableDiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.imageWrapper {
  width: 92%;
  margin: 0.2rem auto;
}